<section class="elementor-section elementor-top-section elementor-element elementor-element-4b498112 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4b498112" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61f23c01" data-id="61f23c01" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-77e1216e elementor-widget elementor-widget-electman_clients" data-id="77e1216e" data-element_type="widget" data-widget_type="electman_clients.default">
                            <div class="elementor-widget-container">
                                <section class=" sponsors-section">
                                    <div class="image-layer" style="background-image: url(/img/banner-brand.jpg);"></div>
                                    <div class="sponsors-outer">
                                        <div class="auto-container">
                                            <div class="sponsors-carousel strnix-carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 40, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "2" }, "768" :{ "items" : "3" } , "800":{ "items" : "3" }, "1024":{ "items" : "4" }, "1200":{ "items" : "5" }}}'>
                                                <div class="slide-item">
                                                    <figure class="image-box">
                                                        <%= link_to image_tag('/img/brands/panasonic.png', alt: 'Thiết bị điện Panasonic', title: 'Thiết bị điện Panasonic'), 
                                                            'javascript:void(0)', title: 'Thiết bị điện Panasonic' %>
                                                    </figure>
                                                </div>
                                                <div class="slide-item">
                                                    <figure class="image-box">
                                                        <%= link_to image_tag('/img/brands/nanoco.png', alt: 'Thiết bị điện Nanoco', title: 'Thiết bị điện Nanoco'), 
                                                            'javascript:void(0)', title: 'Thiết bị điện Nanoco' %>
                                                    </figure>
                                                </div>
                                                <div class="slide-item">
                                                    <figure class="image-box">
                                                        <%= link_to image_tag('/img/brands/schneider-electric.png', alt: 'Thiết bị điện Schneider Electric', title: 'Thiết bị điện Schneider Electric'), 
                                                            'javascript:void(0)', title: 'Thiết bị điện Schneider Electric' %>
                                                    </figure>
                                                </div>
                                                <div class="slide-item">
                                                    <figure class="image-box">
                                                        <%= link_to image_tag('/img/brands/mitsubishi-electric.png', alt: 'Thiết bị điện Mitsubishi Electric', title: 'Thiết bị điện Mitsubishi Electric'), 
                                                            'javascript:void(0)', title: 'Thiết bị điện Mitsubishi Electric' %>
                                                    </figure>
                                                </div>
                                                <div class="slide-item">
                                                    <figure class="image-box">
                                                        <%= link_to image_tag('/img/brands/mpe.png', alt: 'Thiết bị điện MPE', title: 'Thiết bị điện MPE'), 
                                                            'javascript:void(0)', title: 'Thiết bị điện MPE' %>
                                                    </figure>
                                                </div>
                                                <div class="slide-item">
                                                    <figure class="image-box">
                                                        <%= link_to image_tag('/img/brands/cadivi.png', alt: 'Thiết bị điện Cadivi', title: 'Thiết bị điện Cadivi'), 
                                                            'javascript:void(0)', title: 'Thiết bị điện Cadivi' %>
                                                    </figure>
                                                </div>
                                                <div class="slide-item">
                                                    <figure class="image-box">
                                                        <%= link_to image_tag('/img/brands/legrand.png', alt: 'Thiết bị điện Legrand', title: 'Thiết bị điện Legrand'), 
                                                            'javascript:void(0)', title: 'Thiết bị điện Legrand' %>
                                                    </figure>
                                                </div>
                                                <div class="slide-item">
                                                    <figure class="image-box">
                                                        <%= link_to image_tag('/img/brands/philips.png', alt: 'Thiết bị điện Philips', title: 'Thiết bị điện Philips'), 
                                                            'javascript:void(0)', title: 'Thiết bị điện Philips' %>
                                                    </figure>
                                                </div>
                                                <div class="slide-item">
                                                    <figure class="image-box">
                                                        <%= link_to image_tag('/img/brands/nhua-binh-minh.png', alt: 'Sản phẩm nhựa Bình Minh', title: 'Sản phẩm nhựa Bình Minh'), 
                                                            'javascript:void(0)', title: 'Sản phẩm nhựa Bình Minh' %>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>