<div data-elementor-type="wp-page" data-elementor-id="9" class="elementor elementor-9" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <%= render partial: '/frontend/home/sliders' %>
            <%= render partial: '/frontend/home/about' %>
            <%= render partial: '/frontend/home/services' %>
            <%= render partial: '/frontend/home/services' %>
            <%= render partial: '/frontend/home/diary' %>
            <%= render partial: '/frontend/home/brands' %>
        </div>
    </div>
</div>