<section class="page-banner">
    <div class="image-layer" style="background-image:url(/img/banner-breadcrumb.jpg);"></div>
    <div class="auto-container">
        <h1>Sửa Chữa Điện Nước</h1>
        <div class="breadcrumb-box">
            <div class="auto-container">
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', root_link, title: 'Điện Nước Trần Chí &#8211; Thợ sửa điện nước tại Biên Hòa'.html_safe %>
                    </li>
                    <% if @service.service_category.parent_id.present? %>
                        <li class="breadcrumb-item">
                            <% if @parent_service_category.services.count == 1 %>
                                <% service = @parent_service_category.services.first %>
                                <%= link_to @parent_service_category.get_name, service_detail_link(service), title: @parent_service_category.get_name %>
                            <% else %>
                                <%= link_to @parent_service_category.get_name, service_list_link(@parent_service_category), title: @parent_service_category.get_name %>
                            <% end %>
                        </li>
                    <% end %>
                    <li class="breadcrumb-item">
                        <% if @service.service_category.services.count == 1 %>
                            <% service = @service.service_category.services.first %>
                            <%= link_to @service.get_service_category_name, service_detail_link(service), title: @service.get_service_category_name %>
                        <% else %>
                            <%= link_to @service.get_service_category_name, service_list_link(@service.service_category), title: @service.get_service_category_name %>
                        <% end %>
                    </li>
                    <li class="breadcrumb-item"><%= @service.get_name %></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div data-elementor-type="wp-page" data-elementor-id="515" class="elementor elementor-515" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-8e88abc elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8e88abc" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-343f3a9" data-id="343f3a9" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-b3f855f elementor-widget elementor-widget-electman_wi_menu" data-id="b3f855f" data-element_type="widget" data-widget_type="electman_wi_menu.default">
                                        <div class="elementor-widget-container">
                                            <div class="one sidebar-page-container">
                                                <div class="auto-container">
                                                    <div class="row clearfix">
                                                        <div class="sidebar-side col-lg-12">
                                                            <aside class="sidebar service-sidebar">
                                                                <div class="sidebar-widget services-widget">
                                                                    <div class="widget-inner">
                                                                        <ul>
                                                                            <% @parent_service_category.children.get_active.each do |children_service_category| %>
                                                                                <li class="<%= 'active' if children_service_category.id == @service.service_category_id %>">
                                                                                    <% if children_service_category.services.count == 1 %>
                                                                                        <% service = children_service_category.services.first %>
                                                                                        <%= link_to '<span class="txt">'.html_safe + children_service_category.get_name + '</span>'.html_safe, service_detail_link(service), title: children_service_category.get_name %>
                                                                                    <% else %>
                                                                                        <%= link_to '<span class="txt">'.html_safe + children_service_category.get_name + '</span>'.html_safe, service_list_link(children_service_category), title: children_service_category.get_name %>
                                                                                    <% end %>
                                                                                </li>
                                                                            <% end %>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </aside>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-22697fc" data-id="22697fc" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-0c513ea elementor-widget elementor-widget-electman_service_details1" data-id="0c513ea" data-element_type="widget" data-widget_type="electman_service_details1.default">
                                        <div class="elementor-widget-container">
                                            <div class="four sidebar-page-container">
                                                <div class="auto-container">
                                                    <div class="row clearfix">
                                                        <div class="content-side col-lg-12 col-md-12 col-sm-12">
                                                            <div class="service-details">
                                                                <div class="details-inner">
                                                                    <div class="main-image">
                                                                        <%= link_to image_set_tag(@service.service_image,
                                                                                    {@service.service_image(:detail_1920x750) => '1920w',
                                                                                    @service.service_image(:detail_1536x600) => '1536w',
                                                                                    @service.service_image(:detail_1040x400) => '1040w',
                                                                                    @service.service_image(:detail_768x300) => '768w',
                                                                                    @service.service_image(:detail_600x234) => '600w',
                                                                                    @service.service_image(:detail_300x117) => '300w'},
                                                                                    title: @service.get_name, alt: @service.get_name, size: '1920x750', sizes: '(max-width: 1920px) 100vw, 1920px', loading: 'lazy', class: 'attachment-post-thumbnail size-post-thumbnail wp-post-image'),
                                                                            service_detail_link(service), title: @service.get_name %>
                                                                    </div>
                                                                    <div class="sec-title service-title">
                                                                        <h2><%= @service.get_name %></h2>
                                                                    </div>
                                                                    <% if @service.content.present? %>
                                                                        <div class="text-block text-content text-justify">
                                                                            <%= @service.content.html_safe %>
                                                                        </div>
                                                                    <% end %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <% if @service.quotation.present? %>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-19cd49f elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="19cd49f" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b57e205" data-id="b57e205" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-6a7c3d8 elementor-widget elementor-widget-electman_services_price" data-id="6a7c3d8" data-element_type="widget" data-widget_type="electman_services_price.default">
                                            <div class="elementor-widget-container">
                                                <%= @service.quotation.html_safe %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            <% end %>
            <%= render '/frontend/service/related' %>
        </div>
    </div>
</div>