<section class="page-banner">
    <div class="image-layer" style="background-image:url(/img/bg-breadcrumb.jpg);"></div>
    <div class="auto-container">
        <h1><%= @service_category.get_name %></h1>
        <div class="breadcrumb-box">
            <div class="auto-container">
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', root_link, title: 'Điện Nước Trần Chí &#8211; Thợ sửa điện nước tại Biên Hòa'.html_safe %>
                    </li>
                    <li class="breadcrumb-item"><%= @service_category.get_name %></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div data-elementor-type="wp-page" data-elementor-id="514" class="elementor elementor-514" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="sidebar-page-container mrindex">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 side_right">
                            <div class="sidebar-wrapper">
                                <div class="mrsidebar widget sidebar-widget single-sidebar widget_categories">
                                    <div class="widget-title">
                                        <span class="logo_bolt2">
                                            <%= image_tag '/img/bolt.gif', alt: @parent_service_category.get_name, title: @parent_service_category.get_name %>
                                        </span>
                                        <h3><%= @parent_service_category.get_name %></h3>
                                    </div>
                                    <ul>
                                        <% @parent_service_category.children.get_active.each do |service_category| %>
                                            <li class="cat-item">
                                                <% if service_category.services.count == 1 %>
                                                    <% service = service_category.services.first %>
                                                    <%= link_to service_category.get_name, service_detail_link(service), title: service_category.get_name %>
                                                <% else %>
                                                    <%= link_to service_category.get_name, service_list_link(service_category), title: service_category.get_name %>
                                                <% end %>
                                            </li>
                                        <% end %>
                                    </ul>
                                </div>
                                <div class="mrsidebar widget sidebar-widget single-sidebar widget_tag_cloud">
                                    <div class="widget-title">
                                        <span class="logo_bolt2">
                                            <%= image_tag '/img/bolt.gif', alt: 'Tags Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước Tại Biên Hòa'.html_safe, title: 'Tags Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước Tại Biên Hòa'.html_safe %>
                                        </span>
                                        <h3>Tags</h3>
                                    </div>
                                    <div class="tagcloud">
                                        <%= link_to 'thợ điện nước', '', title: 'thợ điện nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'thợ điện nước tại biên hòa'} %>
                                        <%= link_to 'sửa chữa điện', '', title: 'sửa chữa điện tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa chữa điện tại biên hòa'} %>
                                        <%= link_to 'sửa ống nước', '', title: 'sửa ống nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa ống nước tại biên hòa'} %>
                                        <%= link_to 'sửa máy bơm nước', '', title: 'sửa máy bơm nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa máy bơm nước tại biên hòa'} %>
                                        <%= link_to 'lắp đặt điện nước', '', title: 'lắp đặt điện nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'lắp đặt điện nước tại biên hòa'} %>
                                        <%= link_to 'dò tìm rò rỉ nước', '', title: 'dò tìm rò rỉ nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'dò tìm rò rỉ nước tại biên hòa'} %>
                                        <%= link_to 'thi công điện nước', '', title: 'thi công điện nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'thi công điện nước tại biên hòa'} %>
                                        <%= link_to 'lắp đặt đồng hồ điện', '', title: 'lắp đặt đồng hồ điện tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'lắp đặt đồng hồ điện tại biên hòa'} %>
                                        <%= link_to 'đi đường ống nước trong nhà', '', title: 'đi đường ống nước trong nhà tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'đi đường ống nước trong nhà tại biên hòa'} %>
                                        <%= link_to 'thông cống nghẹt', '', title: 'thông cống nghẹt tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'thông cống nghẹt tại biên hòa'} %>
                                        <%= link_to 'sửa bồn cầu bị nghẹt', '', title: 'sửa bồn cầu bị nghẹt tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa bồn cầu bị nghẹt tại biên hòa'} %>
                                        <%= link_to 'lắp đặt bồn nước, chậu rửa, lavabo', '', title: 'lắp đặt bồn nước, chậu rửa, lavabo tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'lắp đặt bồn nước, chậu rửa, lavabo tại biên hòa'} %>
                                        <%= link_to 'sửa máy nước nóng năng lượng mặt trời', '', title: 'sửa máy nước nóng năng lượng mặt trời tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa máy nước nóng năng lượng mặt trời tại biên hòa'} %>
                                        <%= link_to 'thợ điện lạnh', '', title: 'thợ điện lạnh tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'thợ điện lạnh tại biên hòa'} %>
                                        <%= link_to 'sửa máy giặt', '', title: 'sửa máy giặt tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa máy giặt tại biên hòa'} %>
                                        <%= link_to 'sửa máy lọc nước', '', title: 'sửa máy lọc nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa máy lọc nước tại biên hòa'} %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-side col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <% @services.each do |service| %>
                                <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-h4-blog-right tag-manufacture tag-products">
                                    <div class="news-block-four">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image">
                                                    <%= link_to image_set_tag(service.service_image,
                                                                             {service.service_image(:detail_1920x750) => '1920w',
                                                                              service.service_image(:detail_1536x600) => '1536w',
                                                                              service.service_image(:detail_1040x400) => '1040w',
                                                                              service.service_image(:detail_768x300) => '768w',
                                                                              service.service_image(:detail_600x234) => '600w',
                                                                              service.service_image(:detail_300x117) => '300w'},
                                                                title: service.get_name, alt: service.get_name, size: '1920x750', sizes: '(max-width: 1920px) 100vw, 1920px', loading: 'lazy', class: 'attachment-post-thumbnail size-post-thumbnail wp-post-image'),
                                                        service_detail_link(service), title: service.get_name %>
                                                </figure>
                                            </div>
                                            <div class="lower-box">
                                                <h3><%= link_to service.get_name, service_detail_link(service), title: service.get_name %></h3>
                                                <% if service.short_description.present? %>
                                                    <div class="text text-justify">
                                                        <p><%= service.short_description %> [&hellip;]</p>
                                                    </div>
                                                <% end %>
                                                <div class="lower-row clearfix">
                                                    <div class="link-box">
                                                        <%= link_to '<span class="txt">Xem Chi Tiết</span><span class="icon flaticon-arrows-11"></span>'.html_safe, service_detail_link(service), title: service.get_name %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <%= paginate @services, external_window: 3 %>
                        </div>
                    </div>
                </div>
            </section>
            <%= render '/frontend/service/related' %>
        </div>
    </div>
</div>