<div data-elementor-type="section" data-elementor-id="1056" class="elementor elementor-1056" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-fcf3f99 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fcf3f99" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-4bd181d" data-id="4bd181d" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-04585f6 elementor-widget elementor-widget-electman_footer_widget1" data-id="04585f6" data-element_type="widget" data-widget_type="electman_footer_widget1.default">
                                        <div class="elementor-widget-container">
                                            <footer class="one main-footer footer-style-five">
                                                <div class="widgets-section">
                                                    <div class="auto-container">
                                                        <div class="row clearfix">
                                                            <div class="footer-column col-lg-12">
                                                                <div class="footer-widget about-widget">
                                                                    <div class="footer-logo-box">
                                                                        <%= link_to image_tag('/img/logo-white.png', alt: '', title: 'Logo Điện Nước Trần Chí - DienNuocTranChi.Com'), root_link, title: 'Logo Điện Nước Trần Chí - DienNuocTranChi.Com' %>
                                                                    </div>
                                                                    <div class="about-text text-justify">
                                                                        <strong>Điện Nước Trần Chí</strong> tự hào là đơn vị chuyên cung cấp các dịch vụ lắp đặt sửa chữa điện nước tại TP. Biên Hòa, Đồng Nai. Đơn vị sửa chữa điện nước uy tín, được nhiều khách hàng đánh giá cao.
                                                                    </div>
                                                                    <div class="footer-social">
                                                                        <ul class="footer-social-two clearfix">
                                                                            <li>
                                                                                <%= link_to '<span class="fab fab fa-facebook-f"></span>'.html_safe, 
                                                                                    '', title: '', rel: 'noopener' %>
                                                                            </li>
                                                                            <li>
                                                                                <%= link_to '<span class="fab fab fa-twitter"></span>'.html_safe, 
                                                                                    '', title: '', rel: 'noopener' %>
                                                                            </li>
                                                                            <li>
                                                                                <%= link_to '<span class="fab fab fa-instagram"></span>'.html_safe, 
                                                                                    '', title: '', rel: 'noopener' %>
                                                                            </li>
                                                                            <li>
                                                                                <%= link_to '<span class="fab fab fa-linkedin-in"></span>'.html_safe, 
                                                                                    '', title: '', rel: 'noopener' %>
                                                                            </li>
                                                                            <li>
                                                                                <%= link_to '<span class="fab fab fa-pinterest-p"></span>'.html_safe, 
                                                                                    '', title: '', rel: 'noopener' %>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-3893e2e" data-id="3893e2e" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-1fe4804 elementor-widget elementor-widget-electman_footer_widget2" data-id="1fe4804" data-element_type="widget" data-widget_type="electman_footer_widget2.default">
                                        <div class="elementor-widget-container">
                                            <footer class="one main-footer footer-style-five">
                                                <div class="widgets-section">
                                                    <div class="auto-container">
                                                        <div class="row clearfix">
                                                            <div class="big-column col-lg-12">
                                                                <div class="row clearfix">
                                                                    <div class="footer-column col-lg-12">
                                                                        <div class="footer-widget links-widget">
                                                                            <div class="widget-title">
                                                                                <h3>Dịch Vụ Điện Nước</h3>
                                                                            </div>
                                                                            <div class="widget-content">
                                                                                <ul>
                                                                                    <li><%= link_to 'Sửa chữa điện 1 pha, 3 pha', '', title: '' %></li>
                                                                                    <li><%= link_to 'Sửa chữa máy bơm nước', '', title: '' %></li>
                                                                                    <li><%= link_to 'Vệ sinh bồn nước', '', title: '' %></li>
                                                                                    <li><%= link_to 'Lắp đặt, hàn ống PPR', '', title: '' %></li>
                                                                                    <li><%= link_to 'Lắp đặt quạt trần, quạt hút', '', title: '' %></li>
                                                                                    <li><%= link_to 'Lắp đặt điện trong nhà', '', title: '' %></li>
                                                                                    <li><%= link_to 'Chống thấm nhà vệ sinh', '', title: '' %></li>
                                                                                    <li><%= link_to 'Sửa chữa, thay thế vòi nước', '', title: '' %></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-31b91c2" data-id="31b91c2" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-2b71740 elementor-widget elementor-widget-electman_footer_widget2" data-id="2b71740" data-element_type="widget" data-widget_type="electman_footer_widget2.default">
                                        <div class="elementor-widget-container">
                                            <footer class="one main-footer footer-style-five">
                                                <div class="widgets-section">
                                                    <div class="auto-container">
                                                        <div class="row clearfix">
                                                            <div class="big-column col-lg-12">
                                                                <div class="row clearfix">
                                                                    <div class="footer-column col-lg-12">
                                                                        <div class="footer-widget links-widget">
                                                                            <div class="widget-title">
                                                                                <h3>Dịch Vụ Điện Lạnh</h3>
                                                                            </div>
                                                                            <div class="widget-content">
                                                                                <ul>
                                                                                    <li><%= link_to 'Vệ sinh máy lạnh', '', title: '' %></li>
                                                                                    <li><%= link_to 'Lắp đặt máy lạnh', '', title: '' %></li>
                                                                                    <li><%= link_to 'Sửa chữa máy lạnh', '', title: '' %></li>
                                                                                    <li><%= link_to 'Lắp đặt máy giặt', '', title: '' %></li>
                                                                                    <li><%= link_to 'Lắp đặt tủ lạnh', '', title: '' %></li>
                                                                                    <li><%= link_to 'Lắp đặt máy lọc nước', '', title: '' %></li>
                                                                                    <li><%= link_to 'Sửa chữa máy lọc nước', '', title: '' %></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-e6c04bf" data-id="e6c04bf" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-6838454 elementor-widget elementor-widget-electman_footer_widget3" data-id="6838454" data-element_type="widget" data-widget_type="electman_footer_widget3.default">
                                        <div class="elementor-widget-container">
                                            <footer class="one main-footer footer-style-five">
                                                <div class="widgets-section">
                                                    <div class="auto-container">
                                                        <div class="row clearfix">
                                                            <div class="footer-column col-lg-12">
                                                                <div class="footer-widget gallery-widget">
                                                                    <div class="widget-title">
                                                                        <h3>Thông Tin Liên Hệ</h3>
                                                                    </div>
                                                                    <div class="info">
                                                                        <div class="info-block">
                                                                            <div class="icon-box">
                                                                                <span class="icon">
                                                                                    <%= image_tag '/img/icons/icon-message.png', alt: '', title: '' %>
                                                                                </span>
                                                                            </div>
                                                                            <strong>Địa chỉ</strong>
                                                                            <div class="info-text">E45 Tổ 26, KP.3, Long Bình Tân, Thành phố Biên Hòa, Đồng Nai</div>
                                                                        </div>
                                                                        <div class="info-block">
                                                                            <div class="icon-box">
                                                                                <span class="icon">
                                                                                    <%= image_tag '/img/icons/icon-call.png', alt: '', title: '' %>
                                                                                </span>
                                                                            </div>
                                                                            <strong>Điện thoại</strong>
                                                                            <div class="info-text">
                                                                                <%= link_to '0344 319 990', 'tel:0344319990', title: '' %> | <%= link_to '0394 850 149', 'tel:0394850149', title: '' %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="info-block">
                                                                            <div class="icon-box">
                                                                                <span class="icon">
                                                                                    <%= image_tag '/img/icons/icon-zalo.png', alt: '', title: '' %>
                                                                                </span>
                                                                            </div>
                                                                            <strong>Liên kết Zalo</strong>
                                                                            <div class="info-text">
                                                                                <%= link_to 'Zalo tư vấn, đặt lịch sửa chữa', '//zalo.me/0344319990', title: '' %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="info-block">
                                                                            <div class="icon-box">
                                                                                <span class="icon">
                                                                                    <%= image_tag '/img/icons/icon-mail.png', alt: '', title: '' %>
                                                                                </span>
                                                                            </div>
                                                                            <strong>Email</strong>
                                                                            <div class="info-text"><%= mail_to 'diennuoctranchi@gmail.com', 'diennuoctranchi@gmail.com', title: '' %></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-aa57cd9 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="aa57cd9" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f30353e" data-id="f30353e" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-bd7cedc elementor-widget elementor-widget-electman_footer_widget5" data-id="bd7cedc" data-element_type="widget" data-widget_type="electman_footer_widget5.default">
                                        <div class="elementor-widget-container">
                                            <footer class=" main-footer footer-style-five">
                                                <div class="footer-bottom">
                                                    <div class="auto-container">
                                                        <div class="inner clearfix">
                                                            <div class="copyright">
                                                                Copyright 2021 &copy; <%= link_to '<strong>Điện Nước Trần Chí</strong>'.html_safe, root_link, title: 'Điện Nước Trần Chí - Thợ sửa chữa điện nước, điện lạnh tại Biên Hòa' %>. All rights reserved.
                                                            </div>
                                                            <div class="footer-nav">
                                                                <ul class="clearfix">
                                                                    <li><%= link_to 'Sửa chữa điện nước tại Biên Hòa', '', title: '' %></li>
                                                                    <li><%= link_to 'Thợ sửa điện nước tại Biên Hòa', '', title: '' %></li>
                                                                    <li><%= link_to 'Sửa máy lọc nước tại Biên Hòa', '', title: '' %></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>