<div data-elementor-type="section" data-elementor-id="1056" class="elementor elementor-1056" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-fcf3f99 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fcf3f99" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-4bd181d" data-id="4bd181d" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-04585f6 elementor-widget elementor-widget-electman_footer_widget1" data-id="04585f6" data-element_type="widget" data-widget_type="electman_footer_widget1.default">
                                        <div class="elementor-widget-container">
                                            <footer class="one main-footer footer-style-five">
                                                <div class="widgets-section">
                                                    <div class="auto-container">
                                                        <div class="row clearfix">
                                                            <div class="footer-column col-lg-12">
                                                                <div class="footer-widget about-widget">
                                                                    <div class="footer-logo-box">
                                                                        <%= link_to image_tag('/img/logo-white.png', alt: 'Logo Điện Nước Trần Chí &#8211; DienNuocTranChi.Com'.html_safe, title: 'Logo Điện Nước Trần Chí &#8211; DienNuocTranChi.Com'.html_safe), 
                                                                            root_link, title: 'Logo Điện Nước Trần Chí &#8211; DienNuocTranChi.Com'.html_safe %>
                                                                    </div>
                                                                    <div class="about-text text-justify">
                                                                        <strong><%= link_to 'Điện Nước Trần Chí', root_link, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %></strong> tự hào là đơn vị chuyên cung cấp các dịch vụ lắp đặt, bảo trì và sửa chữa điện nước; thay lắp, sửa chữa, thay lõi lọc máy lọc nước; dịch vụ điện lạnh; dịch vụ sửa chữa nhà ở tại khu vực TP. Biên Hòa thuộc tỉnh Đồng Nai.
                                                                    </div>
                                                                    <div class="footer-social">
                                                                        <ul class="footer-social-two clearfix">
                                                                            <li>
                                                                                <%= link_to '<span class="fab fa-facebook-f"></span>'.html_safe, 
                                                                                    '//www.facebook.com/DienNuocTranChi/', title: 'FaceBook Điện Nước Trần Chí &#8211; DienNuocTranChi.Com'.html_safe, target: '_blank', rel: 'noopener' %>
                                                                            </li>
                                                                            <li>
                                                                                <%= link_to '<span class="fab fa-twitter"></span>'.html_safe, 
                                                                                    '', title: 'Twitter Điện Nước Trần Chí &#8211; DienNuocTranChi.Com'.html_safe, target: '_blank', rel: 'noopener' %>
                                                                            </li>
                                                                            <li>
                                                                                <%= link_to '<span class="fab fa-reddit"></span>'.html_safe, 
                                                                                    '', title: 'Reddit Điện Nước Trần Chí &#8211; DienNuocTranChi.Com'.html_safe, target: '_blank', rel: 'noopener' %>
                                                                            </li>
                                                                            <li>
                                                                                <%= link_to '<span class="fab fa-linkedin-in"></span>'.html_safe, 
                                                                                    '', title: 'LinkedIn Điện Nước Trần Chí &#8211; DienNuocTranChi.Com'.html_safe, target: '_blank', rel: 'noopener' %>
                                                                            </li>
                                                                            <li>
                                                                                <%= link_to '<span class="fab fa-pinterest-p"></span>'.html_safe, 
                                                                                    '', title: 'Pinterest Điện Nước Trần Chí &#8211; DienNuocTranChi.Com'.html_safe, target: '_blank', rel: 'noopener' %>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-3893e2e" data-id="3893e2e" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-1fe4804 elementor-widget elementor-widget-electman_footer_widget2" data-id="1fe4804" data-element_type="widget" data-widget_type="electman_footer_widget2.default">
                                        <div class="elementor-widget-container">
                                            <footer class="one main-footer footer-style-five">
                                                <div class="widgets-section">
                                                    <div class="auto-container">
                                                        <div class="row clearfix">
                                                            <div class="big-column col-lg-12">
                                                                <div class="row clearfix">
                                                                    <div class="footer-column col-lg-12">
                                                                        <div class="footer-widget links-widget">
                                                                            <div class="widget-title">
                                                                                <h3>Thợ Điện Nước</h3>
                                                                            </div>
                                                                            <div class="widget-content">
                                                                                <ul>
                                                                                    <li><%= link_to 'Thợ sửa điện nước', '', title: 'Thợ sửa điện nước tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Thợ sửa ống nước', '', title: 'Thợ sửa ống nước tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Dò tìm rò rỉ nước', '', title: 'Dò tìm rò rỉ nước tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Thợ sửa máy bơm nước', '', title: 'Thợ sửa máy bơm nước tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Thợ sửa máy bơm tăng áp', '', title: 'Thợ sửa máy bơm tăng áp tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Dịch vụ thông cống nghẹt', '', title: 'Dịch vụ thông cống nghẹt tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Dịch vụ vệ sinh bồn nước', '', title: 'Dịch vụ vệ sinh bồn nước tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Thợ thông cầu cống nghẹt', '', title: 'Thợ thông cầu cống nghẹt tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Thợ lắp đặt đồng hồ điện', '', title: 'Thợ lắp đặt đồng hồ điện tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Thi công điện nước', '', title: 'Báo giá thi công điện nước tận nơi tại TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Lắp đặt, sửa chữa tủ điện', '', title: 'Lắp đặt, sửa chữa tủ điện 1 pha, 3 pha tại TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Sửa chữa phao cơ, phao điện', '', title: 'Báo giá sửa chữa phao cơ, phao điện tại nhà TP. Biên Hòa' %></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-31b91c2" data-id="31b91c2" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-2b71740 elementor-widget elementor-widget-electman_footer_widget2" data-id="2b71740" data-element_type="widget" data-widget_type="electman_footer_widget2.default">
                                        <div class="elementor-widget-container">
                                            <footer class="one main-footer footer-style-five">
                                                <div class="widgets-section">
                                                    <div class="auto-container">
                                                        <div class="row clearfix">
                                                            <div class="big-column col-lg-12">
                                                                <div class="row clearfix">
                                                                    <div class="footer-column col-lg-12">
                                                                        <div class="footer-widget links-widget">
                                                                            <div class="widget-title">
                                                                                <h3>Máy Lọc Nước</h3>
                                                                            </div>
                                                                            <div class="widget-content">
                                                                                <ul>
                                                                                    <li><%= link_to 'Lắp đặt máy lọc nước', '', title: 'Lắp đặt máy lọc nước tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Thay lõi máy lọc nước', '', title: 'Thay lõi máy lọc nước tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Sửa chữa máy lọc nước', '', title: 'Sửa chữa máy lọc nước tại nhà TP. Biên Hòa' %></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="footer-widget links-widget">
                                                                            <div class="widget-title cus-footer">
                                                                                <h3>Thợ Điện Lạnh</h3>
                                                                            </div>
                                                                            <div class="widget-content">
                                                                                <ul>
                                                                                    <li><%= link_to 'Lắp đặt máy lạnh', '', title: 'Lắp đặt máy lạnh tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Vệ sinh máy lạnh', '', title: 'Vệ sinh máy lạnh tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Sửa chữa máy lạnh', '', title: 'Sửa chữa máy lạnh tại nhà TP. Biên Hòa' %></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="footer-widget links-widget">
                                                                            <div class="widget-title cus-footer">
                                                                                <h3>Thợ Sửa Nhà</h3>
                                                                            </div>
                                                                            <div class="widget-content">
                                                                                <ul>
                                                                                    <li><%= link_to 'Thợ chống thấm', '', title: 'Thợ chống thấm tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Thợ thạch cao', '', title: 'Thợ thạch cao tại nhà TP. Biên Hòa' %></li>
                                                                                    <li><%= link_to 'Thợ sơn nước', '', title: 'Thợ sơn nước tại nhà TP. Biên Hòa' %></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-e6c04bf" data-id="e6c04bf" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-6838454 elementor-widget elementor-widget-electman_footer_widget3" data-id="6838454" data-element_type="widget" data-widget_type="electman_footer_widget3.default">
                                        <div class="elementor-widget-container">
                                            <footer class="one main-footer footer-style-five">
                                                <div class="widgets-section">
                                                    <div class="auto-container">
                                                        <div class="row clearfix">
                                                            <div class="footer-column col-lg-12">
                                                                <div class="footer-widget gallery-widget">
                                                                    <div class="widget-title">
                                                                        <h3>Thông Tin Liên Hệ</h3>
                                                                    </div>
                                                                    <div class="info">
                                                                        <div class="info-block">
                                                                            <div class="icon-box">
                                                                                <span class="icon">
                                                                                    <%= image_tag '/img/icons/icon-message.png', alt: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                                </span>
                                                                            </div>
                                                                            <strong>Địa Chỉ</strong>
                                                                            <div class="info-text">
                                                                                <%= link_to 'E45 Tổ 26, KP.3, Long Bình Tân, TP. Biên Hòa, Tỉnh Đồng Nai', '', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, target: '_blank', rel: 'noopener' %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="info-block">
                                                                            <div class="icon-box">
                                                                                <span class="icon">
                                                                                    <%= image_tag '/img/icons/icon-call.png', alt: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                                </span>
                                                                            </div>
                                                                            <strong>Điện Thoại</strong>
                                                                            <div class="info-text">
                                                                                <%= link_to '0344 319 990', 'tel:0344319990', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %> | <%= link_to '0394 850 149', 'tel:0394850149', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="info-block">
                                                                            <div class="icon-box">
                                                                                <span class="icon">
                                                                                    <%= image_tag '/img/icons/icon-zalo.png', alt: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                                </span>
                                                                            </div>
                                                                            <strong>Liên Kết Zalo</strong>
                                                                            <div class="info-text">
                                                                                <%= link_to 'Tư vấn & Đặt lịch sửa chữa', '//zalo.me/0344319990', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, target: '_blank', rel: 'noopener' %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="info-block">
                                                                            <div class="icon-box">
                                                                                <span class="icon">
                                                                                    <%= image_tag '/img/icons/icon-mail.png', alt: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                                </span>
                                                                            </div>
                                                                            <strong>Email Liên Hệ</strong>
                                                                            <div class="info-text"><%= mail_to 'diennuoctranchi@gmail.com', 'diennuoctranchi@gmail.com', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-aa57cd9 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="aa57cd9" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f30353e" data-id="f30353e" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-bd7cedc elementor-widget elementor-widget-electman_footer_widget5" data-id="bd7cedc" data-element_type="widget" data-widget_type="electman_footer_widget5.default">
                                        <div class="elementor-widget-container">
                                            <footer class=" main-footer footer-style-five">
                                                <div class="footer-bottom">
                                                    <div class="auto-container">
                                                        <div class="inner clearfix">
                                                            <div class="copyright">
                                                                Copyright <%= Time.zone.now.year %> &copy; <%= link_to '<strong>Điện Nước Trần Chí</strong>'.html_safe, root_link, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>. All rights reserved.
                                                            </div>
                                                            <div class="footer-nav">
                                                                <ul class="clearfix">
                                                                    <li><%= link_to 'Thợ điện nước', '', title: 'Thợ điện nước tại nhà TP. Biên Hòa' %></li>
                                                                    <li><%= link_to 'Máy lọc nước', '', title: 'Lắp đặt, sửa chữa, thay lõi máy lọc nước tại nhà TP. Biên Hòa' %></li>
                                                                    <li><%= link_to 'Thợ điện lạnh', '', title: 'Lắp đặt, sửa chữa, thay lõi máy lọc nước tại nhà TP. Biên Hòa' %></li>
                                                                    <li><%= link_to 'Thợ sửa nhà', '', title: 'Thợ sửa nhà tại nhà TP. Biên Hòa' %></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>