<div class="sidebar-wrapper">
    <% @service_categories.each do |service_category| %>
        <div class="mrsidebar widget sidebar-widget single-sidebar widget_categories">
            <div class="widget-title">
                <span class="logo_bolt2">
                    <%= image_tag '/img/bolt.gif', alt: service_category.get_name, title: service_category.get_name %>
                </span>
                <h3><%= service_category.get_name %></h3>
            </div>
            <ul>
                <% service_category.children.get_active.each do |children_service_category| %>
                    <li class="cat-item">
                        <% if children_service_category.services.count == 1 %>
                            <% service = children_service_category.services.first %>
                            <%= link_to children_service_category.get_name, service_detail_link(service), title: children_service_category.get_name %>
                        <% else %>
                            <%= link_to children_service_category.get_name, service_list_link(children_service_category), title: children_service_category.get_name %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="mrsidebar widget sidebar-widget single-sidebar widget_tag_cloud">
        <div class="widget-title">
            <span class="logo_bolt2">
                <%= image_tag '/img/bolt.gif', alt: '', title: '' %>
            </span>
            <h3>Tags</h3>
        </div>
        <div class="tagcloud">
            <%= link_to 'thợ điện nước', '', title: 'thợ điện nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'thợ điện nước tại biên hòa'} %>
            <%= link_to 'sửa chữa điện', '', title: 'sửa chữa điện tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa chữa điện tại biên hòa'} %>
            <%= link_to 'sửa ống nước', '', title: 'sửa ống nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa ống nước tại biên hòa'} %>
            <%= link_to 'sửa máy bơm nước', '', title: 'sửa máy bơm nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa máy bơm nước tại biên hòa'} %>
            <%= link_to 'lắp đặt điện nước', '', title: 'lắp đặt điện nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'lắp đặt điện nước tại biên hòa'} %>
            <%= link_to 'dò tìm rò rỉ nước', '', title: 'dò tìm rò rỉ nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'dò tìm rò rỉ nước tại biên hòa'} %>
            <%= link_to 'thi công điện nước', '', title: 'thi công điện nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'thi công điện nước tại biên hòa'} %>
            <%= link_to 'lắp đặt đồng hồ điện', '', title: 'lắp đặt đồng hồ điện tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'lắp đặt đồng hồ điện tại biên hòa'} %>
            <%= link_to 'đi đường ống nước trong nhà', '', title: 'đi đường ống nước trong nhà tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'đi đường ống nước trong nhà tại biên hòa'} %>
            <%= link_to 'thông cống nghẹt', '', title: 'thông cống nghẹt tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'thông cống nghẹt tại biên hòa'} %>
            <%= link_to 'sửa bồn cầu bị nghẹt', '', title: 'sửa bồn cầu bị nghẹt tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa bồn cầu bị nghẹt tại biên hòa'} %>
            <%= link_to 'lắp đặt bồn nước, chậu rửa, lavabo', '', title: 'lắp đặt bồn nước, chậu rửa, lavabo tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'lắp đặt bồn nước, chậu rửa, lavabo tại biên hòa'} %>
            <%= link_to 'sửa máy nước nóng năng lượng mặt trời', '', title: 'sửa máy nước nóng năng lượng mặt trời tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa máy nước nóng năng lượng mặt trời tại biên hòa'} %>
            <%= link_to 'thợ điện lạnh', '', title: 'thợ điện lạnh tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'thợ điện lạnh tại biên hòa'} %>
            <%= link_to 'sửa máy giặt', '', title: 'sửa máy giặt tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa máy giặt tại biên hòa'} %>
            <%= link_to 'sửa máy lọc nước', '', title: 'sửa máy lọc nước tại biên hòa', class: 'tag-cloud-link', style: 'font-size:8px;', aria: {label: 'sửa máy lọc nước tại biên hòa'} %>
        </div>
    </div>
</div>