<section class="page-banner">
    <div class="image-layer" style="background-image:url(/img/bg-breadcrumb.jpg);"></div>
    <div class="auto-container">
        <h1><%= @blog.get_name %></h1>
        <div class="breadcrumb-box">
            <div class="auto-container">
                <ul class="bread-crumb clearfix">
                    <ul class="bread-crumb clearfix">
                        <li class="breadcrumb-item">
                            <%= link_to 'Trang Chủ', root_link, title: 'Điện Nước Trần Chí &#8211; Thợ sửa điện nước tại Biên Hòa'.html_safe %>
                        </li>
                        <li class="breadcrumb-item"><%= @blog.get_name %></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="sidebar-page-container mrsingle">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 side_right">
                <%= render partial: '/frontend/blog/sidebar' %>
            </div>
            <div class="wp-style content-side col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="blog-content">
                    <div class="post-833 post type-post status-publish format-standard has-post-thumbnail hentry category-h4-blog-right tag-manufacture tag-products">
                        <div class="post-details">
                            <div class="image-box">
                                <figure class="image blogsingle_thumb">
                                    <%= link_to image_set_tag(@blog.blog_image,
                                                                {@blog.blog_image(:detail_1920x750) => '1920w',
                                                                @blog.blog_image(:detail_1536x600) => '1536w',
                                                                @blog.blog_image(:detail_1040x400) => '1040w',
                                                                @blog.blog_image(:detail_768x300) => '768w',
                                                                @blog.blog_image(:detail_600x234) => '600w',
                                                                @blog.blog_image(:detail_300x117) => '300w'},
                                                title: @blog.get_name, alt: @blog.get_name, size: '1920x750', sizes: '(max-width: 1920px) 100vw, 1920px', loading: 'lazy', class: 'attachment-post-thumbnail size-post-thumbnail wp-post-image'),
                                        blog_detail_link(@blog), title: @blog.get_name %>
                                </figure>
                                <div class="post-date">
                                    <span class="day">26</span>
                                    <span class="month">10</span>
                                </div>
                            </div>
                            <div class="lower-box">
                                <ul class="blog-one__meta list-unstyled">
                                    <li><span class="fa fa-user"></span> Điện Nước Trần Chí</li>
                                </ul>
                                <div class="text text-justify">
                                    <%= @blog.content.html_safe %>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="post-share-options">
                                    <div class="post-share-inner clearfix">
                                        <div class="pull-left tags">
                                            <i class="fa fa-tag"></i>
                                            <a href="" rel="tag">sửa chữa điện nước tại biên hòa</a>
                                            <span class="commax">,</span> 
                                            <a href="" rel="tag">sửa chữa máy lọc nước tại biên hòa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>