<section class="page-banner">
    <div class="image-layer" style="background-image:url(/img/banner-breadcrumb.jpg);"></div>
    <div class="auto-container">
        <h1>Giới Thiệu</h1>
        <div class="breadcrumb-box">
            <div class="auto-container">
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', root_link, title: 'Điện Nước Trần Chí &#8211; Thợ sửa điện nước tại Biên Hòa'.html_safe %>
                    </li>
                    <li class="breadcrumb-item">Giới Thiệu</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div data-elementor-type="wp-page" data-elementor-id="649" class="elementor elementor-649" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-437faf1 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="437faf1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-3051b80" data-id="3051b80" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-2ca0c8b grayimg elementor-widget elementor-widget-image" data-id="2ca0c8b" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img width="320" height="296" src="/img/bong-den-dien.png" class="attachment-large size-large" loading="lazy" srcset="/img/bong-den-dien.png 320w, /img/bong-den-dien-300x278.png 300w" sizes="(max-width: 320px) 100vw, 320px" alt="Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa" title="Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa" />											
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-a4c5b97" data-id="a4c5b97" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-ab50164 elementor-widget elementor-widget-electman_about_right" data-id="ab50164" data-element_type="widget" data-widget_type="electman_about_right.default">
                                        <div class="elementor-widget-container">
                                            <section class=" about-section-one">
                                                <div class="auto-container">
                                                    <div class="row clearfix">
                                                        <div class="text-column col-lg-12 col-md-12 col-sm-12">
                                                            <div class="inner">
                                                                <div class="sec-title wow fadeInLeft" data-wow-delay="0ms"  data-wow-duration="1000ms">
                                                                    <div class="upper-text">
                                                                        <span class="logo_bolt2">
                                                                            <%= image_tag '/img/bolt.gif', alt: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                        </span>Giới Thiệu
                                                                        <span class="shadow_text">Giới Thiệu</span>
                                                                    </div>
                                                                    <h2>Điện Nước Trần Chí</h2>
                                                                    <div class="subtitle">Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa</div>
                                                                </div>
                                                                <div class="text-content wow fadeInLeft text-justify" data-wow-delay="0ms"  data-wow-duration="1000ms">
                                                                    <p>
                                                                        <strong>DienNuocTranChi.Com</strong> xin kính chào quý khách!<br/>
                                                                        Tự hào là một trong những đơn vị cung cấp các dịch vụ <%= link_to 'sửa chữa điện nước', '', title: 'sửa chữa điện nước' %> uy tín tận nhà tại TP. Biên Hòa, tỉnh Đồng Nai. Với đội ngũ thợ sửa chữa điện nước trẻ trung, năng động, tay nghề cứng, nhiều năm kinh nghiệm đảm bảo sẽ mang đến cho quý khách hàng sự trải nghiệm dịch vụ chất lượng, xứng đáng với chi phí bỏ ra.
                                                                    </p>
                                                                    <div class="features_list">
                                                                        <p><strong>THỢ SỬA CHỮA ĐIỆN</strong></p>
                                                                        <ul class="ftext">
                                                                            <li><span class="gap-icon icon-Wrench"></span>Sửa chữa điện.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Thi công, lắp đặt điện.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Lắp đặt, sửa chữa máy bơm nước.</li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="features_list">
                                                                        <p><strong>THỢ SỬA CHỮA NƯỚC</strong></p>
                                                                        <ul class="ftext">
                                                                            <li><span class="gap-icon icon-Wrench"></span>Sửa chữa ống nước.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Dò tìm rò rỉ nước.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Thi công, lắp đặt nước.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Sửa chữa máy bơm nước.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Vệ sinh bồn nước, bể nước.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Dịch vụ thông nghẹt.</li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="features_list">
                                                                        <p><strong>MÁY LỌC NƯỚC</strong></p>
                                                                        <ul class="ftext">
                                                                            <li><span class="gap-icon icon-Wrench"></span>Thay lắp máy lọc nước tại nhà.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Sửa chữa máy lọc nước tại nhà.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Thay lõi lọc máy lọc nước tại nhà</li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="features_list">
                                                                        <p><strong>THỢ ĐIỆN LẠNH</strong></p>
                                                                        <ul class="ftext">
                                                                            <li><span class="gap-icon icon-Wrench"></span>Thi công, lắp đặt máy lạnh.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Vệ sinh máy lạnh.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Sửa chữa máy lạnh.</li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="features_list">
                                                                        <p><strong>DỊCH VỤ SỬA NHÀ</strong></p>
                                                                        <ul class="ftext">
                                                                            <li><span class="gap-icon icon-Wrench"></span>Thợ thạch cao</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Thợ sơn nước</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span>Thợ chống thấm</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-d150fbb three" data-id="d150fbb" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-213f4cb elementor-hidden-tablet elementor-widget elementor-widget-electman_about_left" data-id="213f4cb" data-element_type="widget" data-widget_type="electman_about_left.default">
                                        <div class="elementor-widget-container">
                                            <section class=" about-section-one">
                                                <div class="auto-container">
                                                    <div class="row clearfix">
                                                        <div class="image-column col-lg-12 col-md-12 col-sm-12">
                                                            <div class="inner">
                                                                <div class="image-box">
                                                                    <figure class="image wow fadeInLeft" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                                        <%= image_tag '/img/banner-gioi-thieu-02.jpg', alt: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                    </figure>
                                                                    <figure class="image-two wow fadeInRight" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                                        <%= image_tag '/img/banner-gioi-thieu-01.jpg', alt: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-a38964a" data-id="a38964a" data-element_type="column">
                            <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>