<section class="page-banner">
    <div class="image-layer" style="background-image:url(/img/banner-breadcrumb.jpg);"></div>
    <div class="auto-container">
        <h1>Liên Hệ</h1>
        <div class="breadcrumb-box">
            <div class="auto-container">
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', root_link, title: 'Điện Nước Trần Chí &#8211; Thợ sửa điện nước tại Biên Hòa'.html_safe %>
                    </li>
                    <li class="breadcrumb-item">Liên Hệ</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div data-elementor-type="wp-page" data-elementor-id="574" class="elementor elementor-574" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-d22f189 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="d22f189" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cc7415e" data-id="cc7415e" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-6c8c08e elementor-widget elementor-widget-electman_contact_info3" data-id="6c8c08e" data-element_type="widget" data-widget_type="electman_contact_info3.default">
                                        <div class="elementor-widget-container">
                                            <section class=" contact-info-section3">
                                                <div class="auto-container">
                                                    <div class="row">
                                                        <div class="contact-info-block col-lg-6">
                                                            <div class="inner-box wow fadeInUp" data-wow-delay="300ms">
                                                                <h5>ĐỊA CHỈ</h5>
                                                                <div class="icon-box"><span class="fa fa-map-marked-alt"></span></div>
                                                                <h4>XEM TRÊN BẢN ĐỒ</h4>
                                                                <div class="text">E45 Tổ 26, KP.3, Long Bình Tân,<br>Thành phố Biên Hòa, Đồng Nai</div>
                                                                <div class="overlay">
                                                                    <div class="top-content">
                                                                        <h4>XEM TRÊN BẢN ĐỒ</h4>
                                                                        <div class="text">E45 Tổ 26, KP.3, Long Bình Tân,<br>Thành phố Biên Hòa, Đồng Nai</div>
                                                                    </div>
                                                                    <div class="bottom-content">
                                                                        <ul>
                                                                            <li>
                                                                                <strong>Điện thoại: </strong><%= link_to '0344 319 990', 'tel:0344319990', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %> | <%= link_to '0394 850 149', 'tel:0394850149', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                            </li>
                                                                            <li>
                                                                                <strong>Email: </strong><%= mail_to 'diennuoctranchi@gmail.com', 'diennuoctranchi@gmail.com', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                            </li>
                                                                        </ul>
                                                                        <div class="link-btn">
                                                                            <%= link_to 'XEM TRÊN BẢN ĐỒ', '//g.page/r/CdwH5YXxYraVEBA', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, class: 'theme-btn', target: '_blank', rel: 'noopener' %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="contact-info-block col-lg-6">
                                                            <div class="inner-box wow fadeInUp" data-wow-delay="300ms">
                                                                <h5>ZALO</h5>
                                                                <div class="icon-box"><span class="fa fa-inbox"></span></div>
                                                                <h4>CHAT ZALO</h4>
                                                                <div class="text">Chat Trực Tiếp<br>Điện Nước Trần Chí</div>
                                                                <div class="overlay">
                                                                    <div class="top-content">
                                                                        <h4>CHAT ZALO</h4>
                                                                        <div class="text">Chat Trực Tiếp<br>Điện Nước Trần Chí</div>
                                                                    </div>
                                                                    <div class="bottom-content">
                                                                        <ul>
                                                                            <li>
                                                                                <strong>Điện thoại: </strong><%= link_to '0344 319 990', 'tel:0344319990', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %> | <%= link_to '0394 850 149', 'tel:0394850149', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                            </li>
                                                                            <li>
                                                                                <strong>Email: </strong><%= mail_to 'diennuoctranchi@gmail.com', 'diennuoctranchi@gmail.com', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                            </li>
                                                                        </ul>
                                                                        <div class="link-btn">
                                                                            <%= link_to 'CHAT NGAY', '//zalo.me/0344319990', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, class: 'theme-btn', target: '_blank', rel: 'noopener' %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>