<!DOCTYPE html>
<html lang="vi-VN" class="no-js no-svg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= favicon_link_tag '/img/favicon.png', rel: 'shortcut icon', type: 'image/x-icon' %>
        <%= favicon_link_tag '/img/favicon.png', rel: 'icon', type: 'image/x-icon' %>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title><% if @page_title.present? %><%= @page_title.html_safe %><% else %>Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Tại Biên Hòa<% end %></title>
        <meta name='robots' content='noindex,nofollow,max-image-preview:large' />
        
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//s.w.org' />

        <%= render partial: '/frontend/modules/stylesheets' %>
    </head>
    <body <% if @class.present? %>class="<%= @class %>"<% end %>>
        <div class="page-wrapper">
            <%= render partial: '/frontend/modules/header' %>
            <%= yield %>
            <div class="clearfix"></div>
            <%= render partial: '/frontend/modules/footer' %>
        </div>
        <%= render partial: '/frontend/modules/scroll_to_top' %>
        <%= render partial: '/frontend/modules/search_popup' %>
        <%= render partial: '/frontend/modules/javascripts' %>
    </body>
</html>