<!DOCTYPE html>
<html lang="vi-VN" class="no-js no-svg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= favicon_link_tag '/img/favicon.png', rel: 'shortcut icon', type: 'image/x-icon' %>
        <%= favicon_link_tag '/img/favicon.png', rel: 'icon', type: 'image/x-icon' %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><% if @page_title.present? %><%= @page_title.html_safe %><% else %>Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa<% end %></title>
        <meta name='robots' content='index,follow,max-image-preview:large' />
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//s.w.org' />
        <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
        <%= render partial: '/frontend/modules/stylesheets' %>
        <%= render partial: '/frontend/modules/schema' %>
        <style>
            .social-button{
            display: inline-grid;
                position: fixed;
                bottom: 15px;
                left: 25px;
                min-width: 10px;
                text-align: center;
                z-index: 99999;
            }
            .social-button-content{
            display: inline-grid;   
            }
            .social-button a {padding:8px 0;cursor: pointer;position: relative;}
            .social-button i{
            width: 40px;
                height: 40px;
                background: #43a1f3;
                color: #fff;
                border-radius: 100%;
                font-size: 20px;
                text-align: center;
                line-height: 1.9;
                position: relative;
                z-index: 999;
            }
            .social-button span{
            display: none;
            }
            .alo-circle {
                animation-iteration-count: infinite;
                animation-duration: 1s;
                animation-fill-mode: both;
                animation-name: zoomIn;
                width: 50px;
                height: 50px;
                top: 3px;
                right: -3px;
                position: absolute;
                background-color: transparent;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                border: 2px solid rgba(30, 30, 30, 0.4);
                opacity: .1;
                border-color: #0089B9;
                opacity: .5;
            }
            .alo-circle-fill {
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-name: pulse;
                width: 60px;
                height: 60px;
                top: -2px;
                right: -8px;
                position: absolute;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                border: 2px solid transparent;
                background-color: rgba(0, 175, 242, 0.5);
                opacity: .75;
            }
            .call-icon:hover > span, .mes:hover > span, .sms:hover > span, .zalo:hover > span{display: block}
            .social-button a span {
                border-radius: 2px;
                text-align: center;
                background: rgb(103, 182, 52);
                padding: 9px;
                display: none;
                width: 180px;
                margin-left: 10px;
                position: absolute;
                color: #ffffff;
                z-index: 999;
                top: 9px;
                left: 40px;
                transition: all 0.2s ease-in-out 0s;
                -moz-animation: headerAnimation 0.7s 1;
                -webkit-animation: headerAnimation 0.7s 1;
                -o-animation: headerAnimation 0.7s 1;
                animation: headerAnimation 0.7s 1;
            }
            @-webkit-keyframes "headerAnimation" {
                0% { margin-top: -70px; }
                100% { margin-top: 0; }
            }
            @keyframes "headerAnimation" {
                0% { margin-top: -70px; }
                100% { margin-top: 0; }
            }
            .social-button a span:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent rgb(103, 182, 52) transparent transparent;
            position: absolute;
            left: -10px;
            top: 10px;
            }
            .bottom-contact{display:none}
@media  (max-width: 767px) {
.social-button {
    display:none;
}
.scroll-to-top {
    bottom:65px;
}
  .bottom-contact{display: block;
    position: fixed;
    bottom: 0;
    background: white;
    width: 100%;
    z-index: 99;
    box-shadow: 2px 1px 9px #dedede;
    border-top: 1px solid #eaeaea;}
  .bottom-contact ul li{width: 25%;
    float: left;
    list-style: none;
    text-align: center; font-size:13.5px;}
  .bottom-contact ul li span{color:black;font-size:10px;}
  .bottom-contact ul li img{    width: 35px;
    margin-top: 10px;
    margin-bottom: 0px;}

}
        </style>
    </head>
    <body <% if @class.present? %>class="<%= @class %>"<% end %>>
        <div class="page-wrapper">
            <%= render partial: '/frontend/modules/header' %>
            <%= yield %>
            <div class="clearfix"></div>
            <%= render partial: '/frontend/modules/footer' %>
        </div>
        <%= render partial: '/frontend/modules/scroll_to_top' %>
        <%= render partial: '/frontend/modules/javascripts' %>
        <div class="social-button">
            <div class="social-button-content">
                <a href="//zalo.me/0344319990" class="zalo" rel="nofollow" target="_blank">
                    <i class="fas fa-comments" aria-hidden="true"></i>
                    <div class="animated alo-circle"></div>
                    <div class="animated alo-circle-fill  "></div>
                    <span>Chat Zalo: 0344 319 990</span>
                </a>
                <a href="" class="mes" rel="nofollow" target="_blank">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span>Xem trang Fanpage</span>
                </a>
                <a href="tel:0344319990" class="call-icon" rel="nofollow" target="_blank">
                    <i class="fas fa-phone-alt" aria-hidden="true"></i>
                    <span>Hotline: 0344 319 990</span>
                </a>
                <a href="" class="mes" rel="nofollow" target="_blank">
                    <i class="far fa-map" aria-hidden="true"></i>
                    <span>Xem Google Maps</span>
                </a>
            </div>
        </div>
        <div class="bottom-contact">
            <ul>
                <li>
                    <a href="" title="">
                        <img src="/img/icons/social-button-map.png" alt=""><br>
                        <span>Xem Bản Đồ</span>
                    </a>
                </li>
                <li>
                    <a href="" title="">
                        <img src="/img/icons/social-button-call.png" alt=""><br>
                        <span>Gọi Điện Thoại</span>
                    </a>
                </li>
                <li>
                    <a href="" title="">
                        <img src="/img/icons/social-button-zalo.png" alt=""><br>
                        <span>Nhắn Tin Zalo</span>
                    </a>
                </li>
                <li>
                    <a href="" title="">
                        <img src="/img/icons/social-button-messenger.png" alt=""><br>
                        <span>Nhắn Tin Messenger</span>
                    </a>
                </li>
            </ul>
        </div>
        <script>
        $(document).ready(function(){
            $('.user-support').click(function(event) {
            $('.social-button-content').slideToggle();
            });
            });
        </script>
    </body>
</html>