<!DOCTYPE html>
<html lang="vi-VN" class="no-js no-svg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= favicon_link_tag '/img/favicon.png', rel: 'shortcut icon', type: 'image/x-icon' %>
        <%= favicon_link_tag '/img/favicon.png', rel: 'icon', type: 'image/x-icon' %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="alternate" href="https://diennuoctranchi.com/" hreflang="vi">
        <meta name="ahrefs-site-verification" content="af00bbaf1f5c5f0bd986422fc751fd7b2b38281d3b9bca44d2418f52fd691188">
        <title><% if @page_title.present? %><%= @page_title.html_safe %><% else %>Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa<% end %></title>
        <meta name='robots' content='index,follow,max-image-preview:large' />
        <% if @meta_description.present? %><meta name="description" content="<%= @meta_description.html_safe %>"><% else %><meta name="description" content="Điện Nước Trần Chí tự hào là đơn vị chuyên cung cấp các dịch vụ lắp đặt, bảo trì và sửa chữa điện nước tại khu vực TP. Biên Hòa thuộc tỉnh Đồng Nai."><% end %>
        
        <% if (params[:controller] == 'frontend/home' && params[:action] == 'index') %>
            <link rel="canonical" href="https://diennuoctranchi.com/" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'about') %>
            <link rel="canonical" href="https://diennuoctranchi.com/gioi-thieu" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'contact') %>
            <link rel="canonical" href="https://diennuoctranchi.com/lien-he" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'diary') %>
            <link rel="canonical" href="https://diennuoctranchi.com/nhat-ky-cong-viec" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'faq') %>
            <link rel="canonical" href="https://diennuoctranchi.com/cau-hoi-thuong-gap" />
        <% elsif (params[:controller] == 'frontend/service' && params[:action] == 'list') %>
            <link rel="canonical" href="https://diennuoctranchi.com<%= service_list_link(@service_category) %>" />
        <% elsif (params[:controller] == 'frontend/service' && params[:action] == 'detail') %>
            <link rel="canonical" href="https://diennuoctranchi.com<%= service_detail_link(@service) %>" />
        <% elsif (params[:controller] == 'frontend/blog' && params[:action] == 'list') %>
            <link rel="canonical" href="https://diennuoctranchi.com/chia-se-kinh-nghiem" />
        <% elsif (params[:controller] == 'frontend/blog' && params[:action] == 'detail') %>
            <link rel="canonical" href="https://diennuoctranchi.com<%= blog_detail_link(@blog) %>" />
        <% else %>
            <link rel="canonical" href="<%= request.url %>" />
        <% end %>

        <% if (params[:controller] == 'frontend/home' && params[:action] == 'index') %>
            <link rel="alternate" hreflang="vi-VN" href="https://diennuoctranchi.com/" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'about') %>
            <link rel="alternate" hreflang="vi-VN" href="https://diennuoctranchi.com/gioi-thieu" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'contact') %>
            <link rel="alternate" hreflang="vi-VN" href="https://diennuoctranchi.com/lien-he" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'diary') %>
            <link rel="alternate" hreflang="vi-VN" href="https://diennuoctranchi.com/nhat-ky-cong-viec" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'faq') %>
            <link rel="alternate" hreflang="vi-VN" href="https://diennuoctranchi.com/cau-hoi-thuong-gap" />
        <% elsif (params[:controller] == 'frontend/service' && params[:action] == 'list') %>
            <link rel="alternate" hreflang="vi-VN" href="https://diennuoctranchi.com<%= service_list_link(@service_category) %>" />
        <% elsif (params[:controller] == 'frontend/service' && params[:action] == 'detail') %>
            <link rel="alternate" hreflang="vi-VN" href="<%= service_detail_link(@service) %>" />
        <% elsif (params[:controller] == 'frontend/blog' && params[:action] == 'list') %>
            <link rel="alternate" hreflang="vi-VN" href="https://diennuoctranchi.com/chia-se-kinh-nghiem" />
        <% elsif (params[:controller] == 'frontend/blog' && params[:action] == 'detail') %>
            <link rel="alternate" hreflang="vi-VN" href="https://diennuoctranchi.com<%= blog_detail_link(@blog) %>" />
        <% else %>
            <link rel="alternate" hreflang="vi-VN" href="<%= request.url %>" />
        <% end %>

        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//s.w.org' />
        <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
        <link rel='dns-prefetch' href='//connect.facebook.net' />
        <%= render partial: '/frontend/modules/stylesheets' %>
        <script type="application/ld+json">
        {
        "@context": "https://schema.org",
            "@graph":
            [
                {
                    "@type": "Organization",
                    "name": "Điện Nước Trần Chí",
                    "alternateName": "Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa",
                    "url": "https://diennuoctranchi.com/",
                    "logo": "https://diennuoctranchi.com/img/logo.png",
                    "contactPoint": [{
                        "@type": "ContactPoint",
                        "telephone": "0344319990",
                        "contactType": "customer service",
                        "areaServed": "VN",
                        "availableLanguage": "Vietnamese"
                    },{
                        "@type": "ContactPoint",
                        "telephone": "0344319990",
                        "contactType": "technical support",
                        "areaServed": "VN",
                        "availableLanguage": "Vietnamese"
                    }]
                },
                {
                    "@type": "ProfessionalService",
                    "name": "Điện Nước Trần Chí",
                    "image": "https://diennuoctranchi.com/img/banner-share.jpg",
                    "@id": "https://diennuoctranchi.com/",
                    "url": "https://diennuoctranchi.com/",
                    "telephone": "0344319990",
                    "priceRange": "50.000 VND - 100.000.000 VND",
                    "servesCuisine": "Việt Nam",
                    "address": {
                        "@type": "PostalAddress",
                        "streetAddress": "E45 Tổ 26, KP. 3, Long Bình Tân",
                        "addressLocality": "TP. Biên Hòa",
                        "addressRegion": "Tỉnh Đồng Nai",
                        "postalCode": "76129",
                        "addressCountry": "VN"
                    },
                    "geo": {
                        "@type": "GeoCoordinates",
                        "latitude": 10.9005241,
                        "longitude": 106.8799056
                    },
                    "openingHoursSpecification": {
                        "@type": "OpeningHoursSpecification",
                        "dayOfWeek": [
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday",
                            "Saturday",
                            "Sunday"
                        ],
                        "opens": "00:00",
                        "closes": "23:59"
                    },
                    "sameAs": [
                        "https://www.facebook.com/DienNuocTranChi/",
                        "https://twitter.com/diennuoctranchi"
                    ] 
                },
                {
                    "@type": "WebSite",
                    "name": "Điện Nước Trần Chí",
                    "url": "https://diennuoctranchi.com/",
                    "potentialAction": {
                        "@type": "SearchAction",
                        "target": "https://diennuoctranchi.com/?keywords={search_term_string}",
                        "query-input": "required name=search_term_string"
                    }
                }
            ]
        }
        </script>
        <% if (params[:controller] == 'frontend/home' && params[:action] == 'index') %>
            <%= render partial: '/frontend/modules/schema/home' %>
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'about') %>
            <%= render partial: '/frontend/modules/schema/about' %>
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'contact') %>
            <%= render partial: '/frontend/modules/schema/contact' %>
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'diary') %>
            <%= render partial: '/frontend/modules/schema/diary' %>
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'faq') %>
            <%= render partial: '/frontend/modules/schema/faq' %>
        <% elsif (params[:controller] == 'frontend/blog' && params[:action] == 'list') %>
            <%= render partial: '/frontend/modules/schema/blog_list' %>
        <% elsif (params[:controller] == 'frontend/blog' && params[:action] == 'detail') %>
            <%= render partial: '/frontend/modules/schema/blog_detail' %>
        <% elsif (params[:controller] == 'frontend/service' && params[:action] == 'list') %>
            <%= render partial: '/frontend/modules/schema/service_list' %>
        <% elsif (params[:controller] == 'frontend/service' && params[:action] == 'detail') %>
            <%= render partial: '/frontend/modules/schema/service_detail' %>
        <% end %>
    </head>
    <body <% if @class.present? %>class="<%= @class %>"<% end %>>
        <div class="page-wrapper">
            <%= render partial: '/frontend/modules/header' %>
            <%= yield %>
            <div class="clearfix"></div>
            <%= render partial: '/frontend/modules/footer' %>
        </div>
        <%= render partial: '/frontend/modules/scroll_to_top', cached: true %>
        <%= render partial: '/frontend/modules/social_button' %>
        <script>$(document).ready(function(){$(".user-support").click(function(n){$(".social-button-content").slideToggle()})});</script>
        <%= render partial: '/frontend/modules/javascripts', cached: true %>
    </body>
</html>