<!DOCTYPE html>
<html lang="vi-VN" class="no-js no-svg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= favicon_link_tag '/img/favicon.png', rel: 'shortcut icon', type: 'image/x-icon' %>
        <%= favicon_link_tag '/img/favicon.png', rel: 'icon', type: 'image/x-icon' %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><% if @page_title.present? %><%= @page_title.html_safe %><% else %>Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa<% end %></title>
        <meta name='robots' content='index,follow,max-image-preview:large' />
        <% if @meta_description.present? %><meta name="description" content="<%= @meta_description %>"><% else %><meta name="description" content="Điện Nước Trần Chí tự hào là đơn vị chuyên cung cấp các dịch vụ lắp đặt, bảo trì và sửa chữa điện nước tại khu vực TP. Biên Hòa thuộc tỉnh Đồng Nai."><% end %>
        
        <% if (params[:controller] == 'frontend/home' && params[:action] == 'index') %>
            <link rel="canonical" href="https://diennuoctranchi.com/" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'about') %>
            <link rel="canonical" href="https://diennuoctranchi.com/gioi-thieu" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'contact') %>
            <link rel="canonical" href="https://diennuoctranchi.com/lien-he" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'diary') %>
            <link rel="canonical" href="https://diennuoctranchi.com/nhat-ky-cong-viec" />
        <% elsif (params[:controller] == 'frontend/information' && params[:action] == 'faq') %>
            <link rel="canonical" href="https://diennuoctranchi.com/cau-hoi-thuong-gap" />
        <% elsif (params[:controller] == 'frontend/service' && params[:action] == 'list') %>
            <link rel="canonical" href="https://diennuoctranchi.com<%= service_list_link(@service_category) %>" />
        <% elsif (params[:controller] == 'frontend/service' && params[:action] == 'detail') %>
            <link rel="canonical" href="https://diennuoctranchi.com<%= service_detail_link(@service) %>" />
        <% elsif (params[:controller] == 'frontend/blog' && params[:action] == 'list') %>
            <link rel="canonical" href="https://diennuoctranchi.com/chia-se-kinh-nghiem" />
        <% elsif (params[:controller] == 'frontend/blog' && params[:action] == 'detail') %>
            <link rel="canonical" href="https://diennuoctranchi.com<%= blog_detail_link(@blog) %>" />
        <% else %>
            <link rel="canonical" href="<%= request.url %>" />
        <% end %>

        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//s.w.org' />
        <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
        <link rel='dns-prefetch' href='//connect.facebook.net' />
        <%= render partial: '/frontend/modules/stylesheets' %>
        <%= render partial: '/frontend/modules/schema' %>
    </head>
    <body <% if @class.present? %>class="<%= @class %>"<% end %>>
        <div class="page-wrapper">
            <%= render partial: '/frontend/modules/header' %>
            <%= yield %>
            <div class="clearfix"></div>
            <%= render partial: '/frontend/modules/footer' %>
        </div>
        <%= render partial: '/frontend/modules/scroll_to_top' %>
        <%= render partial: '/frontend/modules/social_button' %>
        <script>$(document).ready(function(){$(".user-support").click(function(n){$(".social-button-content").slideToggle()})});</script>
        <%= render partial: '/frontend/modules/javascripts' %>
    </body>
</html>